
<div class="buttonContainer">
    <!-- nombre de usuario
    <button mat-button class="nameButton">{{nameUsers | uppercase}}</button>
     -->
     <!-- info para estudiantes -->
     <button mat-button (click)="navigateTo('personal')">Mis Datos</button>
     
    <!-- info para administradores -->
    <button mat-button (click)="navigateTo('alumnos')" *ngIf="permiso">Alumnos</button>
    <button mat-button (click)="navigateTo('cursos')"  *ngIf="permiso" >Cursos</button>
    <button mat-button (click)="navigateTo('inscripciones')"  *ngIf="permiso">Inscripciones</button>
   
</div>
